{% extends 'layouts/main.html' %}
{% block title %}Contact{% endblock %}
{% block content %}

    <div class="page-header">
        <h1>Contact</h1>
    </div>
    <p class="lead">This is just a placeholder page which should be replaced with a contact form.</p>
    <div class="alert alert-primary">
        <h4>Contact, Feedback and Contribution</h4>
        Please send me a message on the contact page or per mail. Check out and contribute on the Github
        project.<br>
        <a href="/contact"><i class="list fas fa-paper-plane"></i>Contact page</a><br>
        <a href="mailto:jkrumm@algorithmiccrypto.com" target="_blank"><i class="list fas fa-envelope"></i>Send
            mail</a><br>
        <a href="https://t.me/johanneskr" target="_blank"><i class="list fab fa-telegram"></i>Contact on
            Telegram</a><br>
        <a href="https://github.com/jkrumm/algorithmic-trading" target="_blank"><i class="list fab fa-github"></i>Github</a>
    </div>

{% endblock %}
