{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

    <div class="alert-wrapper">
        <div class="alert alert-primary">
            <h4>Telegram and Twitter signals</h4>
            Instant notification of all signals and daily updates for the current trades.<br>
            <a href="https://twitter.com/dajohannes" target="_blank"><i class="list fab fa-twitter"></i>Algorithmic
                Crypto Twitter</a><br>
            <a href="https://t.me/joinchat/HBOOCbSxkwTC_eVE" target="_blank"><i class="list fab fa-telegram"></i>Algorithmic
                Crypto Telegram</a>
        </div>
        <div class="alert alert-primary">
            <h4>Donations</h4>
            All signals will remain free. Please support my work with a donation! Thankful for even the smallest
            donations.<br>
            <a href="#" data-toggle="modal" data-target="#btc_donation"><i
                    class="list fab fa-bitcoin"></i>Bitcoin</a><br>
            <a href="#" data-toggle="modal" data-target="#eth_donation"><i class="list fab fa-ethereum"></i>Ethereum</a><br>
            <a href="https://paypal.me/johanneskrum" target="_blank"><i class="list fab fa-paypal"></i>Paypal</a><br>
        </div>
        <div class="alert alert-primary">
            <h4>Contact, Feedback and Contribution</h4>
            Please send me a message on the contact page or per mail. Check out and contribute on the Github
            project.<br>
            <a href="/contact"><i class="list fas fa-paper-plane"></i>Contact page</a><br>
            <a href="mailto:jkrumm@algorithmiccrypto.com" target="_blank"><i class="list fas fa-envelope"></i>Send
                mail</a><br>
            <a href="https://t.me/johanneskr" target="_blank"><i class="list fab fa-telegram"></i>Contact on
                Telegram</a><br>
            <a href="https://github.com/jkrumm/algorithmic-trading" target="_blank"><i class="list fab fa-github"></i>Github</a>
        </div>
    </div>

    <h1>Current Trades</h1>
    <div class="trades-table-wrapper">
        <table class="table table-hover table-sm table-dark">
            <thead>
            <tr>
                <th class="">Pair</th>
                <th class="">Action</th>
                <th class="">Timeframe</th>
                <th class="">Duration</th>
                <th class="">Date</th>
                <th class="">Profitability</th>
                <th class="">Price</th>
                <th class="">1D</th>
                <th class="">1W</th>
                <th class="">1M</th>
            </tr>
            </thead>
            <tbody>
            {% for trade in trades %}
                <tr>
                    <td class="">{{ trade['symbol'] }}</td>
                    <td class="{{ 'green' if trade['action'] == "buy" else 'red' }} uppercase">{{ trade['action'] }}</td>
                    <td class="">{{ trade['timeframe'] }}</td>
                    <td class="">{{ trade['duration'] }}</td>
                    <td class="">{{ trade['date'] }}</td>
                    <td class="{{ 'green' if trade['current_profit'] > 0 else 'red' }}">{{ "{:.2%}".format(trade['current_profit']/100) }}</td>
                    <td class="">{{ "$%.2f"|format(currencies[trade['symbol'][:-3]]['price']|float) }}</td>
                    <!-- <td class=""> <td class="">{{ "$%.2f"|format(trade['price']|float) }}</td>-->
                    <td class="{{ 'green' if trade['1d'] > 0 else 'red' }}">{{ "{:.2%}".format(trade['1d']/100) }}</td>
                    <td class="{{ 'green' if trade['7d'] > 0 else 'red' }}">{{ "{:.2%}".format(trade['7d']/100) }}</td>
                    <td class="{{ 'green' if trade['30d'] > 0 else 'red' }}">{{ "{:.2%}".format(trade['30d']/100) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <hr>

    <h1>Signal History</h1>
    <div class="coin-list-wrapper">
        <div id="BTCUSD_8H"
             class="{{ "active" if request.args.get('symbol') == "BTCUSD" and request.args.get('interval') == "480" }}">
            <h3>BTCUSD</h3>
            <span>8H</span>
        </div>
        <div id="BTCUSD_12H"
             class="{{ "active" if request.args.get('symbol') == "BTCUSD" and request.args.get('interval') == "720" }}">
            <h3>BTCUSD</h3>
            <span>12H</span>
        </div>
        <div id="BTCUSD_1D"
             class="{{ "active" if request.args.get('symbol') == "BTCUSD" and request.args.get('interval') == "1" }}">
            <h3>BTCUSD</h3>
            <span>1D</span>
        </div>
        <div id="ETHUSD_12H"
             class="{{ "active" if request.args.get('symbol') == "ETHUSD" and request.args.get('interval') == "720" }}">
            <h3>ETHUSD</h3>
            <span>12H</span>
        </div>
        <div id="ETHBTC_12H"
             class="{{ "active" if request.args.get('symbol') == "ETHBTC" and request.args.get('interval') == "720" }}">
            <h3>ETHBTC</h3>
            <span>12H</span>
        </div>
        <div id="LINKUSD_12H"
             class="{{ "active" if request.args.get('symbol') == "LINKUSD" and request.args.get('interval') == "720" }}">
            <h3>LINKUSD</h3>
            <span>12H</span>
        </div>
        <div id="LINKBTC_12H"
             class="{{ "active" if request.args.get('symbol') == "LINKBTC" and request.args.get('interval') == "720" }}">
            <h3>LINKBTC</h3>
            <span>12H</span>
        </div>
        <div id="XRPUSD_12H"
             class="{{ "active" if request.args.get('symbol') == "XRPUSD" and request.args.get('interval') == "720" }}">
            <h3>XRPUSD</h3>
            <span>12H</span>
        </div>
        <div id="LTCUSD_12H"
             class="{{ "active" if request.args.get('symbol') == "LTCUSD" and request.args.get('interval') == "720" }}">
            <h3>LTCUSD</h3>
            <span>12H</span>
        </div>
        <div id="ADAUSD_12H"
             class="{{ "active" if request.args.get('symbol') == "ADAUSD" and request.args.get('interval') == "720" }}">
            <h3>ADAUSD</h3>
            <span>12H</span>
        </div>
    </div>
    <div class="signal-wrapper">
        <div class="signals-table-wrapper">
            <table class="table table-hover table-sm table-dark">
                <thead>
                <tr>
                    <th class="">Pair</th>
                    <th class="">Action</th>
                    <th class="">Timeframe</th>
                    <th class="">Date</th>
                    <th class="">Profitability</th>
                    <th class="">Price</th>
                </tr>
                </thead>
                <tbody>
                {% for s in signal|reverse %}
                    <tr>
                        <td class="">{{ s['ticker'] }}</td>
                        <td class="{{ 'green' if s['action'] == "buy" else 'red' }} uppercase">{{ s['action'] }}</td>
                        <td class="">{{ s['interval'] }}</td>
                        <td class="">{{ s['time'] }}</td>
                        <td class="{{ 'green' if s['profit'] > 0 else 'red' }}">{{ "%.2f"|format(s['profit']|float) }}%</td>
                        <td class="">{{ "$%.2f"|format(s['price']|float) }}$</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="signal-summary-wrapper">
            <div class="grid">
                <div class="cell">
                    <span>Net Profit</span>
                    <div>
                        <span></span>
                    </div>
                </div>
                <div class="cell">
                    <span>Gross Profit</span>
                    <div>
                        <span></span>
                    </div>
                </div>
                <div class="cell">
                    <span>Gross Lost</span>
                    <div>
                        <span></span>
                    </div>
                </div>
                <div class="cell">
                    <span>Buy & Hold Return</span>
                    <div>
                        <span></span>
                    </div>
                </div>
                <div class="cell">
                    <span>Total Trades</span>
                    <div>
                        <span></span>
                    </div>
                </div>
                <div class="cell">
                    <span>Win Rate</span>
                    <div>
                        <span></span>
                    </div>
                </div>
                <div class="cell">
                    <span>Ratio Win/Loss</span>
                    <div>
                        <span></span>
                    </div>
                </div>
                <div class="cell">
                    <span>Largest Win</span>
                    <div>
                        <span></span>
                    </div>
                </div>
                <div class="cell">
                    <span>Largest Loss</span>
                    <div>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
