{% extends 'layouts/main.html' %}
{% block title %}Bitcoin, Ethereum free profitable algorithmic signals{% endblock %}
{% block content %}

    <div class="alert alert-dismissible alert-warning" id="warning-message">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div class="flex">
            <div>
                <img src="/static/img/flip_phone.png" alt="Flip phone to landscape">
            </div>
            <div>
                <h4 class="alert-heading">Switch to Landscape!</h4>
                <p class="mb-0">This website looks much better in landscape mode. Please rotate your phone to the
                    site.</p>
            </div>
        </div>
    </div>

    <div class="alert-wrapper">
        <div class="alert alert-primary">
            <h4>Telegram and Twitter signals</h4>
            Instant notification of all signals and daily updates for the current trades.<br>
            <a href="https://twitter.com/dajohannes" target="_blank"><i class="list fab fa-twitter"></i>Algorithmic
                Crypto Twitter</a><br>
            <a href="https://t.me/algorithmiccrypto" target="_blank"><i class="list fab fa-telegram"></i>Algorithmic
                Crypto Telegram</a>
        </div>
        <div class="alert alert-primary">
            <h4>Donations</h4>
            All signals will remain free. Please support my work with a donation! Thankful for even the smallest
            donations.<br>
            <a href="#" data-toggle="modal" data-target="#btc_donation"><i
                    class="list fab fa-bitcoin"></i>Bitcoin</a><br>
            <a href="#" data-toggle="modal" data-target="#eth_donation"><i class="list fab fa-ethereum"></i>Ethereum</a><br>
            <a href="https://paypal.me/johanneskrum" target="_blank"><i class="list fab fa-paypal"></i>Paypal</a><br>
        </div>
        <div class="alert alert-primary">
            <h4>Contact, Feedback and Contribution</h4>
            Send me a message on Telegram, the contact page or per mail. Check out and contribute on the Github
            project.<br>
            <a href="/contact"><i class="list fas fa-paper-plane"></i>Contact page</a><br>
            <a href="mailto:jkrumm@algorithmiccrypto.com" target="_blank"><i class="list fas fa-envelope"></i>Send
                mail</a><br>
            <a href="https://t.me/johanneskr" target="_blank"><i class="list fab fa-telegram"></i>Contact on
                Telegram</a><br>
            <a href="https://github.com/jkrumm/algorithmic-trading" target="_blank"><i class="list fab fa-github"></i>Github</a>
        </div>
    </div>

    <h1>Current Trades</h1>
    <div class="trades-table-wrapper">
        <div id="no-more-tables">
            <table class="table table-hover table-sm table-dark">
                <thead>
                <tr>
                    <th class="">Pair</th>
                    <th class="">Action</th>
                    <th class="numeric">Timeframe</th>
                    <th class="">Duration</th>
                    <th class="">Date</th>
                    <th class="numeric">Profitability</th>
                    <th class="numeric">Price</th>
                    <th class="numeric">1D</th>
                    <th class="numeric">1W</th>
                    <th class="numeric">1M</th>
                </tr>
                </thead>
                <tbody>
                {% for trade in trades %}
                    <tr>
                        <td data-title="Pair" class="">{{ trade['symbol'] }}</td>
                        <td data-title="Action"
                            class="{{ 'green' if trade['action'] == "buy" else 'red' }} uppercase">{{ trade['action'] }}</td>
                        <td data-title="Timeframe" class="">{{ trade['timeframe'] }}</td>
                        <td data-title="Duration" class="">{{ trade['duration'] }}</td>
                        <td data-title="Date" class="">{{ trade['date'] }}</td>
                        <td data-title="Profitability"
                            class="numeric {{ 'green' if trade['current_profit'] > 0 else 'red' }}">{{ "{:.2%}".format(trade['current_profit']/100) }}</td>
                        <td data-title="Price"
                            class="numeric">{{ "$%.2f"|format(currencies[trade['symbol'][:-3]]['price']|float) }}</td>
                        <!-- <td class=""> <td class="">{{ "$%.2f"|format(trade['price']|float) }}</td>-->
                        <td data-title="1D"
                            class="numeric {{ 'green' if trade['1d'] > 0 else 'red' }}">{{ "{:.2%}".format(trade['1d']/100) }}</td>
                        <td data-title="1W"
                            class="numeric {{ 'green' if trade['7d'] > 0 else 'red' }}">{{ "{:.2%}".format(trade['7d']/100) }}</td>
                        <td data-title="1M"
                            class="numeric {{ 'green' if trade['30d'] > 0 else 'red' }}">{{ "{:.2%}".format(trade['30d']/100) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <hr>

    <h1>Signal History</h1>
    <div class="form-signal">
        <form>
            <div class="form-row">
                <div class="col">
                    <h5>Filter Signals</h5>
                    <div class="form-check form-check-inline" id="buy_sell">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio11"
                               value="buy_sell" {{ "checked" if request.args.get('action') == "buy_sell" or request.args.get('action') == None }}>
                        <label class="form-check-label" for="inlineRadio11">Longs and Shorts</label>
                    </div>
                    <div class="form-check form-check-inline" id="buy">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio12"
                               value="buy" {{ "checked" if request.args.get('action') == "buy" }}>
                        <label class="form-check-label" for="inlineRadio12">Only longs</label>
                    </div>
                    <div class="form-check form-check-inline" id="sell">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio13"
                               value="sell" {{ "checked" if request.args.get('action') == "sell" }}>
                        <label class="form-check-label" for="inlineRadio13">Only shorts</label>
                    </div>
                </div>
                <div class="col">
                    <h5>Timespan</h5>
                    <div class="form-check form-check-inline" id="time_0">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                               value="0" {{ "checked" if request.args.get('timespan') == "0" or request.args.get('timespan') == None }}>
                        <label class="form-check-label" for="inlineRadio1">All</label>
                    </div>
                    <div class="form-check form-check-inline" id="time_1">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                               value="365" {{ "checked" if request.args.get('timespan') == "365" }}>
                        <label class="form-check-label" for="inlineRadio2">1 Year</label>
                    </div>
                    <div class="form-check form-check-inline" id="time_2">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                               value="730" {{ "checked" if request.args.get('timespan') == "730" }}>
                        <label class="form-check-label" for="inlineRadio3">2 Years</label>
                    </div>
                    <div class="form-check form-check-inline" id="time_5">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"
                               value="1825" {{ "checked" if request.args.get('timespan') == "1825" }}>
                        <label class="form-check-label" for="inlineRadio4">5 Years</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br>
    <div class="coin-list-wrapper">
        <div id="BTCUSD_8H"
             class="{{ "active" if (request.args.get('symbol') == "BTCUSD" and request.args.get('interval') == "480") }}">
            <h3>BTCUSD</h3>
            <span>8H</span>
        </div>
        <div id="BTCUSD_12H"
             class="{{ "active" if request.args.get('symbol') == "BTCUSD" and request.args.get('interval') == "720" }}">
            <h3>BTCUSD</h3>
            <span>12H</span>
        </div>
        <div id="BTCUSD_1D"
             class="{{ "active" if request.args.get('symbol') == "BTCUSD" and request.args.get('interval') == "1" }}">
            <h3>BTCUSD</h3>
            <span>1D</span>
        </div>
        <div id="ETHUSD_12H"
             class="{{ "active" if request.args.get('symbol') == "ETHUSD" and request.args.get('interval') == "720" or request.args.get('symbol') == None }}">
            <h3>ETHUSD</h3>
            <span>12H</span>
        </div>
        <div id="ETHBTC_12H"
             class="{{ "active" if request.args.get('symbol') == "ETHBTC" and request.args.get('interval') == "720" }}">
            <h3>ETHBTC</h3>
            <span>12H</span>
        </div>
        <div id="LINKUSD_12H"
             class="{{ "active" if request.args.get('symbol') == "LINKUSD" and request.args.get('interval') == "720" }}">
            <h3>LINKUSD</h3>
            <span>12H</span>
        </div>
        <div id="LINKBTC_12H"
             class="{{ "active" if request.args.get('symbol') == "LINKBTC" and request.args.get('interval') == "720" }}">
            <h3>LINKBTC</h3>
            <span>12H</span>
        </div>
        <div id="XRPUSD_12H"
             class="{{ "active" if request.args.get('symbol') == "XRPUSD" and request.args.get('interval') == "720" }}">
            <h3>XRPUSD</h3>
            <span>12H</span>
        </div>
        <div id="LTCUSD_12H"
             class="{{ "active" if request.args.get('symbol') == "LTCUSD" and request.args.get('interval') == "720" }}">
            <h3>LTCUSD</h3>
            <span>12H</span>
        </div>
        <div id="ADAUSD_12H"
             class="{{ "active" if request.args.get('symbol') == "ADAUSD" and request.args.get('interval') == "720" }}">
            <h3>ADAUSD</h3>
            <span>12H</span>
        </div>
    </div>
    <div class="signal-wrapper">
        <div class="signal-summary-wrapper">
            <div class="grid">
                <div class="cell">
                    <h5>Net Profit</h5>
                    <div>
                        <span>{{ "%.2f"|format(performance.net_profit) }}%</span>
                    </div>
                </div>
                <div class="cell">
                    <h5>Gross Profit</h5>
                    <div>
                        <span>{{ "%.2f"|format(performance.gross_profit) }}%</span>
                    </div>
                </div>
                <div class="cell">
                    <h5>Gross Lost</h5>
                    <div>
                        <span>{{ "%.2f"|format(performance.gross_lost) }}%</span>
                    </div>
                </div>
                <div class="cell">
                    <h5>Daily Return</h5>
                    <div>
                        <span>{{ "%.2f"|format(performance.daily_return) }}</span>
                    </div>
                </div>
                <div class="cell">
                    <h5>Total Trades</h5>
                    <div>
                        <span>{{ performance.total_trades }}</span>
                    </div>
                </div>
                <div class="cell">
                    <h5>Win Rate</h5>
                    <div>
                        <span>{{ "%.2f"|format(performance.win_rate) }}%</span>
                    </div>
                </div>
                <div class="cell">
                    <h5>Ratio Win/Loss</h5>
                    <div>
                        <span>{{ "%.2f"|format(performance.win_loss_ratio) }}</span>
                    </div>
                </div>
                <div class="cell">
                    <h5>Largest Win</h5>
                    <div>
                        <span>{{ "%.2f"|format(performance.largest_win) }}$</span>
                    </div>
                </div>
                <div class="cell">
                    <h5>Largest Loss</h5>
                    <div>
                        <span>{{ "%.2f"|format(performance.largest_lost) }}$</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="signals-table-wrapper">
            <div id="no-more-tables">
                <table class="table table-hover table-sm table-dark">
                    <thead>
                    <tr>
                        <th class="">Pair</th>
                        <th class="">Action</th>
                        <th class="">Timeframe</th>
                        <th class="">Date</th>
                        <th class="">Profitability</th>
                        <th class="">Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for s in signal|reverse %}
                        <tr>
                            <td data-title="Pair" class="">{{ s['ticker'] }}</td>
                            <td data-title="Action"
                                class="{{ 'green' if s['action'] == "buy" else 'red' }} uppercase">{{ s['action'] }}</td>
                            <td data-title="Timeframe" class="">{{ s['interval'] }}</td>
                            <td data-title="Date" class="">{{ s['time'] }}</td>
                            <td data-title="Profitability"
                                class="{{ 'green' if s['profit'] > 0 else 'red' }}">{{ "%.2f"|format(s['profit']|float) }}%
                            </td>
                            <td data-title="Price" class="">{{ "$%.2f"|format(s['price']|float) }}$</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
