<!doctype html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Algorithmic Crypto | {% block title %}{% endblock %}</title>

    <!-- meta -->
    <meta name="description"
          content="Free highly profitable algorithmic trading signals for Bitcoin, Ethereum, Link and many more. Free alerts and full backtests including performance analytics.">
    <meta name="author" content="Algorithmic Crypto | Johannes Krumm">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <!-- /meta -->

    <!-- styles -->
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/layout.main.css?v=1.0"/>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css?v=1.0"/>
    <link type="text/css" rel="stylesheet" href="/static/css/main.responsive.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/main.quickfix.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/all.css"/>
    <!-- /styles -->

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icon/favicon-16x16.png">
    <link rel="manifest" href="/static/icon/site.webmanifest">
    <link rel="mask-icon" href="/static/icon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Algorithmic Crypto">
    <meta name="application-name" content="Algorithmic Crypto">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/static/icon/mstile-144x144.png">
    <meta name="theme-color" content="#333333">

    <!-- scripts -->
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-MN6QV4D');</script>
    <!-- End Google Tag Manager -->
    <script src="/static/js/libs/modernizr-2.8.2.min.js"></script>
    <!--[if lt IE 9]>
    <script src="/static/js/libs/respond-1.4.2.min.js"></script><![endif]-->
    <!-- <script src="https://kit.fontawesome.com/06366d26eb.js" crossorigin="anonymous"></script>-->
    <!-- /scripts -->

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MN6QV4D"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Wrap all page content here -->
<div id="wrap">

    <!-- Fixed navbar
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarColor01" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>-->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{{ url_for('home') }}"><img src="/static/img/robot.svg"/>Algorithmic
                    Crypto</a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                        data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarColor01" style="">
                    <ul class="navbar-nav">
                        <li class="nav-item {{ 'active' if request.endpoint == 'home' }}">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item {{ 'active' if request.endpoint == 'marketcap' }}">
                            <a class="nav-link" href="{{ url_for('marketcap') }}">Marketcap</a>
                        </li>
                        <li class="nav-item {{ 'active' if request.endpoint == 'about' }}">
                            <a class="nav-link" href="{{ url_for('about') }}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <!-- Begin page content -->
    <main id="content" role="main" class="container">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-block alert-error fade in">
                        <a class="close" data-dismiss="alert">&times;</a>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

    </main>

    <!-- Modal -->
    <div class="modal fade" id="btc_donation" tabindex="-1" role="dialog" aria-labelledby="#btc_donation"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">BTC Donation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card" style="width: 27rem; margin: 0 auto; text-align: center;">
                        <img class="card-img-top" src="../../static/img/btc_donate.png" alt="BTC address qcr code">
                        <div class="card-body">
                            <p class="card-text"><h5>bc1q39aa8rpzlh03s27nl76299va2cgymy9r4rj3y7</h5></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="eth_donation" tabindex="-1" role="dialog" aria-labelledby="#eth_donation"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">ETH Donation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card" style="width: 27rem; margin: 0 auto; text-align: center;">
                        <img class="card-img-top" src="../../static/img/eth_donate.png" alt="BTC address qcr code">
                        <div class="card-body">
                            <p class="card-text"><h5>0x7F327Ff2fadd3983cD09226d38E222777A018407</h5></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="footer">
    <div class="container">
        <p>&copy;2021 | Algorithmic Crypto | Donations: <a href="#" data-toggle="modal" data-target="#btc_donation">BTC
            <span>bc1q39aa8rpzlh03s27nl76299va2cgymy9r4rj3y7</span></a>
            /
            <a href="#" data-toggle="modal" data-target="#eth_donation">ETH
                <span>0x7F327Ff2fadd3983cD09226d38E222777A018407</span></a></p>
    </div>
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script type="text/javascript" src="/static/js/libs/jquery-1.11.1.min.js"><\/script>')</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/js/plugins.js" defer></script>
<script type="text/javascript" src="/static/js/script.js" defer></script>
<!-- Google Analytics - Change UA-XXXXX-X to be your site's ID -->
<script>
    window._gaq = [['_setAccount', 'UAXXXXXXXX1'], ['_trackPageview'], ['_trackPageLoadTime']];
    Modernizr.load({
        load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-20XVNDY8GB"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-20XVNDY8GB');
</script>
</body>
</html>
