/* Sticky footer styles
-------------------------------------------------- */

.container, .container-lg, .container-md, .container-sm, .container-xl, body, html {
    min-width: 1000px;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1600px;
}

html,
body {
    height: 100%;
    min-width: 1000px;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

.navbar-fixed-top {
    min-width: 1000px;
}

ul.navbar-nav {
    max-width: 672px;
}

.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}

/* Set the fixed height of the footer here */
#footer {
    height: 24px;
    background-color: rgb(39, 43, 48);
    position: fixed;
    bottom: 0;
    width: 100vw;
    border-top: 1px solid rgba(0, 0, 0, 0.6);
}

#footer span {
    font-style: italic;
    font-size: small;
}

#footer a {
    font-weight: normal;
    color: rgb(170, 170, 170);
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
    padding: 15px 0;
}

.container .credit {
    margin: 20px 0;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

code {
    font-size: 80%;
}