/**
 * @file
 * Main stylesheet file.
 */


/*****************************************************************************
 * Main elements
 ****************************************************************************/
html {
    overflow-y: scroll;
}

@font-face {
    font-family: Bender;
    src: url("Blender-medium-webfont.woff");
    font-display: swap;
}

html * {
    font-family: Bender;
}

a {
    cursor: pointer;
}

::selection {
    background: #555;
    color: #FFF;
}

::-moz-selection {
    background: #555;
    color: #FFF;
}

::-webkit-selection {
    background: #555;
    color: #FFF;
}

h1 {
    text-transform: uppercase;
}

/* Main elements end */

/*****************************************************************************
 * Coin List
 ****************************************************************************/
i.list {
    min-width: 16px;
    margin-right: 7px;
}

div.alert-wrapper {
    display: flex;
    flex: 1 1 0px;
}

div.alert-wrapper > div {
    display: inline-block;
    margin: 20px 15px 28px 15px;
    flex: 1 1 0px;
}

div.alert-wrapper > div:nth-child(2) {
    display: inline-block;
    margin: 20px 30px 28px 30px;
    flex: 1 1 0px;
}

div.coin-list-wrapper {
    display: flex;
    flex: 1 1 0px;
}

div.coin-list-wrapper > div {
    text-align: center;
    flex: 1 1 0px;
    border: 1px solid rgba(0, 0, 0, .6);
    border-right: none;
    padding: 5px 0;
    cursor: pointer;
}

div.coin-list-wrapper > div:last-of-type {
    border-right: 1px solid rgba(0, 0, 0, .6);
}

div.coin-list-wrapper > div:hover {
    background-color: rgba(255, 255, 255, .075);
}

div.coin-list-wrapper h3 {
    display: block;
    font-size: 1.341rem;
    margin: 0;
}

div.coin-list-wrapper .active {
    background-color: rgba(255, 255, 255, .075);
}

/* Coin List end */

/*****************************************************************************
 * Signal Table
 ****************************************************************************/
.signal-wrapper {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-top: 0;
}

.signals-table-wrapper {
    width: 65%;
    overflow-y: auto;
    height: 500px;
}

.signals-table-wrapper thead th {
    position: sticky;
    top: 0;
    background: rgb(39, 43, 48);
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}

.signal-summary-wrapper {
    width: 35%;
}

.signal-summary-wrapper .grid {
    display: flex; /* establish flex container */
    flex-wrap: wrap; /* enable flex items to wrap */
    justify-content: space-around;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

.signal-summary-wrapper .cell {
    flex: 0 0 33.33%; /* don't grow, don't shrink, width */
    outline: 1px solid rgba(0, 0, 0, 0.6);
    background-color: rgb(39, 43, 48);
}

/* Signal Table end */


/*****************************************************************************
 * Various other styles
 ****************************************************************************/

/* Various other styles end */
td.green {
    color: green;
}

td.red {
    color: red;
}

nav {
    border-bottom: 0 !important;
    border-top: 0 !important;
    width: 100%;
}

nav .navbar-brand {
    text-transform: uppercase;
    padding: 0 45px 0 0;
}

nav .navbar-brand img {
    width: 45px;
    margin-right: 20px;
    margin-left: 20px;
}

nav ul {
    display: flex;
}

nav ul li {
    flex: 1 1 0px;
}

nav a.nav-link {
    text-transform: uppercase;
    min-width: 135px;
    display: inline-block;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}